@font-face {
  font-family: "Avenir Next Regular";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf");
}
@font-face {
  font-family: "Avenir Next Bold";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf");
}
.upload {
  margin: 0rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 2rem;
  width: auto;
}
@media (min-width: 767px) {
  .upload {
    margin: 0rem 3rem;
  }
}
@media (min-width: 1280px) {
  .upload {
    margin: 0rem 7rem;
  }
}
.upload__fields {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1280px) {
  .upload__fields {
    flex-direction: row;
  }
}
.upload__title {
  font-family: "Avenir Next Bold";
  color: #323232;
  font-size: 2.25rem;
  line-height: 2.75rem;
  text-align: left;
}
@media (min-width: 767px) {
  .upload__title {
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #e1e1e1;
  }
}
.upload__heading {
  font-family: "Avenir Next Bold";
  color: #afafaf;
  font-size: 1.2rem;
  margin: 0rem;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  text-align: start;
}
@media (min-width: 1280px) {
  .upload__heading {
    margin-top: 0rem;
  }
}
.upload__image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 30%;
}
@media (min-width: 1280px) {
  .upload__image-container {
    width: auto;
  }
}
.upload__image {
  background-image: url(../../assets/images/bike.png);
  background-size: cover;
  background-position: center;
  width: auto;
  height: 45vw;
  border-radius: 0.25rem;
}
@media (min-width: 767px) {
  .upload__image {
    align-self: flex-start;
    width: 400px;
    height: 200px;
  }
}
.upload__inputs {
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media (min-width: 1280px) {
  .upload__inputs {
    margin-left: 1rem;
  }
}
.upload__input {
  background-color: #fafafa;
  border: 1px solid #e1e1e1;
  border-radius: 0.25rem;
  resize: none;
  width: auto;
  color: black;
  font-family: "Avenir Next Regular";
  font-size: 1.2rem;
  text-align: start;
  padding: 1rem;
}
@media (min-width: 1280px) {
  .upload__input {
    margin-bottom: 0.4rem;
  }
}
.upload__input-description {
  height: 100px;
}
@media (min-width: 767px) {
  .upload__input-description {
    margin-bottom: 1.5rem;
  }
}
@media (min-width: 1280px) {
  .upload__input-description {
    height: 70px;
  }
}
.upload__options {
  display: flex;
  flex-direction: column;
}
@media (min-width: 767px) {
  .upload__options {
    flex-direction: row-reverse;
    border-top: 1px solid #e1e1e1;
  }
}
.upload__button {
  background-color: #0095ff;
  color: #ffffff;
  font-family: "Avenir Next Regular";
  font-weight: bold;
  font-size: 0.85rem;
  text-align: center;
  height: 2.5rem;
  width: 100%;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0rem 1rem;
  margin: 2rem 0rem;
  position: relative;
  text-decoration: none;
}
.upload__button:hover {
  background-color: #0065ad;
}
@media (min-width: 767px) {
  .upload__button {
    width: 200px;
  }
}
.upload__button-icon {
  background-image: url(../../assets/icons/publish.svg);
  background-size: contain;
  width: 25px;
  height: 25px;
  position: absolute;
  left: 0.75rem;
}
.upload__cancel {
  text-decoration: none;
  text-align: center;
  color: #0095ff;
  font-family: "Avenir Next Regular";
  font-weight: bold;
  font-size: 0.85rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  align-self: center;
}
@media (min-width: 767px) {
  .upload__cancel {
    margin: 2.5rem;
  }
}

.error {
  border: 1px solid red;
}/*# sourceMappingURL=Upload.css.map */