@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.comment {
  margin: 0rem 1rem;

  @include tablet {
    margin: 0rem 3rem;
  }

  @include desktop {
    margin-right: 0;
  }

  &__container {
    display: flex;
    border-bottom: 1px solid $Mercury;
    margin-top: 1rem;
  }

  &__avatar {
    width: 2.7rem;
    height: 2.7rem;
    background-color: $Mercury;
    background-size: contain;
    border-radius: 50%;
  }

  &__text {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: 1rem;
  }

  &__header {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  &__name {
    font-family: "Avenir Next Bold";
    color: $BrainFlix-Black;
    font-size: 1.2rem;
    margin: 0rem;
  }

  &__date {
    font-family: "Avenir Next Regular";
    color: $Silver;
    font-size: 1.2rem;
    margin: 0rem;
  }

  &__content {
    color: $BrainFlix-Black;
    font-family: "Avenir Next Regular";
    font-size: 1.2rem;
    text-align: start;
    margin-bottom: 1rem;
  }

  &__delete {
    background-color: $BrainFlix-Blue;
    color: $White;
    font-family: "Avenir Next Regular";
    font-weight: bold;
    font-size: 0.85rem;
    text-align: center;
    height: 2.5rem;
    width: 100%;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem 1rem;
    margin: 1rem 0rem;
    position: relative;

    &:hover {
      background-color: $BrainFlix-DarkBlue;
    }

    @include tablet {
      width: 150px;
      height: 2.85rem;
      align-self: flex-end;
    }
  }
}
