@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.video-container {
  background-color: black;
}

.video {
  width: 100%;

  @include tablet {
    width: 87.5%;
  }

  @include desktop {
    width: 72%;
  }
}
