@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.video-container {
  background-color: black;
  display: flex;
  justify-content: center;
  max-height: 300px;

  @include tablet {
    max-height: 450px;
  }

  @include desktop {
    max-height: 550px;
  }
}

.video {
  width: 100%;

  @include tablet {
    width: 87.5%;
  }

  @include desktop {
    width: 72%;
  }
}
