@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.upload {
  margin: 0rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 2rem;
  width: auto;

  @include tablet {
    margin: 0rem 3rem;
  }

  @include desktop {
    margin: 0rem 7rem;
  }

  &__fields {
    display: flex;
    flex-direction: column;

    @include desktop {
      flex-direction: row;
    }
  }

  &__title {
    font-family: "Avenir Next Bold";
    color: $BrainFlix-Black;
    font-size: 2.25rem;
    line-height: 2.75rem;
    text-align: left;

    @include tablet {
      padding-bottom: 1.5rem;
      border-bottom: 1px solid $Mercury;
    }
  }

  &__heading {
    font-family: "Avenir Next Bold";
    color: $Silver;
    font-size: 1.2rem;
    margin: 0rem;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    text-align: start;

    @include desktop {
      margin-top: 0rem;
    }
  }

  &__image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 30%;

    @include desktop {
      width: auto;
    }
  }

  &__image {
    background-image: url(../../assets/images/bike.png);
    background-size: cover;
    background-position: center;
    width: auto;
    height: 45vw;
    border-radius: 0.25rem;

    @include tablet {
      align-self: flex-start;
      width: 400px;
      height: 200px;
    }
  }

  &__inputs {
    display: flex;
    flex-direction: column;
    width: 100%;

    @include desktop {
      margin-left: 1rem;
    }
  }

  &__input {
    background-color: $Alabaster;
    border: 1px solid $Mercury;
    border-radius: 0.25rem;
    resize: none;
    width: auto;
    color: black;
    font-family: "Avenir Next Regular";
    font-size: 1.2rem;
    text-align: start;
    padding: 1rem;

    @include desktop {
      margin-bottom: 0.4rem;
    }

    &-description {
      height: 100px;

      @include tablet {
        margin-bottom: 1.5rem;
      }

      @include desktop {
        height: 70px;
      }
    }
  }

  &__options {
    display: flex;
    flex-direction: column;

    @include tablet {
      flex-direction: row-reverse;
      border-top: 1px solid $Mercury;
    }
  }

  &__button {
    background-color: $BrainFlix-Blue;
    color: $White;
    font-family: "Avenir Next Regular";
    font-weight: bold;
    font-size: 0.85rem;
    text-align: center;
    height: 2.5rem;
    width: 100%;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem 1rem;
    margin: 2rem 0rem;
    position: relative;
    text-decoration: none;

    &:hover {
      background-color: $BrainFlix-DarkBlue;
    }

    @include tablet {
      width: 200px;
    }
  }

  &__button-icon {
    background-image: url(../../assets/icons/publish.svg);
    background-size: contain;
    width: 25px;
    height: 25px;
    position: absolute;
    left: 0.75rem;
  }

  &__cancel {
    text-decoration: none;
    text-align: center;
    color: $BrainFlix-Blue;
    font-family: "Avenir Next Regular";
    font-weight: bold;
    font-size: 0.85rem;
    width: fit-content;
    align-self: center;

    @include tablet {
      margin: 2.5rem;
    }
  }
}
