@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.videos-container {
  @include desktop {
    border-left: 1px solid $Mercury;
  }
}

.header-text {
  font-family: "Avenir Next Bold";
  color: $Silver;
  font-size: 1.2rem;
  margin: 0rem;
  margin-bottom: 0.5rem;
  text-align: start;
  margin: 1.5rem 1rem;

  @include tablet {
    margin: 3rem 3rem;
  }
}

.link {
  text-decoration: none;
}
