@use "./styles/partials/mixins" as *;
@use "./styles/partials/variables" as *;

main {
  @include desktop {
    display: flex;
    margin: 0rem 5rem;
  }
}

.left-containter {
  @include desktop {
    max-width: 55vw;
  }
}
