@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.video-container {
  background-color: black;
  display: flex;
  justify-content: center;
  max-height: 100vh;
}

.video {
  width: 100vw;

  @include tablet {
    width: 90vw;
  }

  @include desktop {
    width: 70vw;
  }
}
