@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.video-container {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.video {
  width: 100vw;
  align-self: center;

  @include tablet {
    width: 90vw;
  }

  @include desktop {
    width: 70vw;
  }
}
